%ul.list-unstyled
  %li.bottom-small= link_to 'Set up donation form', 'http://mcause.us/7', target: '_blank'
  %li.bottom-small= link_to 'Set up donation button', 'http://mcause.us/6', target: '_blank'
  %li.bottom-small= link_to 'Set up tax receipt', 'http://mcause.us/8', target: '_blank'
  %li.bottom-small= link_to 'View donor reports', 'http://mcause.us/9', target: '_blank'
  %li.bottom-small= link_to 'Access merchant account', 'http://mcause.us/a', target: '_blank'
  %li= link_to 'More...', 'http://mcause.us/givenow', target: '_blank'