.row.margin-top--lv4
  .col-md-10.col-md-offset-1
    %h3 vendors

.row
  .col-md-10.col-md-offset-1
    .row
      .col-xs-6
        = form_for @account_filter, url: {}, method: :get, html: { class: 'form-inline' } do |f|
          .form-group= f.text_field :search_string, placeholder: 'Search', title: 'Advanced search options e.g (name:acc_name legacy:true status:new email:xyz plan_name:text2give vendor_id:1)', class: 'form-control'
          -#.form-group= f.select :partner_id, options_for_select(partner_list('All Accounts'), @account_filter.partner_id), {}, { class: 'form-control input__select--max-sm' }
          %button.btn.btn-primary.btn-form-control
            %i.fa.fa-search
      .col-xs-6
        .text-right
          -#- if current_user.vendor.nil?
          = link_to new_admin_vendor_path, class: 'btn btn-primary' do
            %i.fa.fa-plus
            New Account
          -#= link_to admin_vendors_path('csv', params), class: 'btn btn-info' do
          -#  %i.fa.fa-download
          -#  Export Accounts

.row.margin-top--lv2
  .col-md-10.col-md-offset-1
    = will_paginate @vendors_list, renderer: BootstrapPagination::Rails

.row.margin-top--lv2
  .col-md-10.col-md-offset-1
    %table.table.table-striped.table-hover.table-bordered
      %thead
        %tr
          %th Accounts
          %th.text-center.btn-group-width Actions
      %tbody
        - if @vendors_list.present?
          - @vendors_list.each do |vendor|
            %tr
              %td
                .media
                  .media-body
                    %h4.media-heading
                      = link_to vendor.name, [:admin, vendor]

                      -#%span.pull-right
                      -#  = link_to edit_features_admin_vendor_path(vendor, format: :js), data: {toggle: 'tooltip', modal: true, modalId: 'edit_features_modal'}, title: 'View or edit features'  do
                      -#    %i.fa.fa-sliders

                    = render partial: 'admin/vendors/summary_row', locals: {vendor: vendor}

                %div{data: {'content-key' => "show_usage_stats_for_vendor_#{vendor.id}"}}
                  = link_to [:admin, vendor], remote: true do
                    %i.fa.fa-plus
                    Usage Stats
              %td.text-center
                .btn-group
                  = link_to edit_admin_vendor_path(vendor), class: 'btn btn-default btn-xs', data: { toggle: 'tooltip' }, title: 'Edit vendor Account' do
                    %i.fa.fa-edit.text-info
                  - if vendor.admin
                    = link_to become_user_path(vendor.admin), class: 'btn btn-default btn-xs', data: { toggle: 'tooltip' }, title: 'Login as Admin' do
                      %i.fa.fa-sign-in.text-primary

.row
  .col-md-10.col-md-offset-1
    = will_paginate @vendors_list, renderer: BootstrapPagination::Rails

#edit_features_modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-body
      .modal-footer
        = link_to 'Cancel', '#', {data:{'dismiss' => 'modal'}, 'aria-hidden' => 'true', class: 'btn btn-danger'}
        = button_tag 'Save', class: 'btn btn-info', id: "update_settings_btn"
