!!!
%html{ lang: 'en' }
  %head
    -#%title= page_title(yield(:title), yield(:sub_title))
    = stylesheet_link_tag 'private/default_stylesheets'
    = javascript_include_tag 'application'
    = favicon_link_tag '/favicon.ico'
    = csrf_meta_tags
    = render 'layouts/navigation'
    = yield :head
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0' }
    = render 'layouts/messages'
  %body{ class: 'beta sticky--nav' }

    #mobile-indicator
    .jquery_widget_wrapper

    -#= render partial: 'modularized/app_nav_bar'
    .container-fluid
      = yield
    -#= render 'modularized/app_footer'
    -#= render 'modularized/npo_features'
    -#= javascript_include_tag 'app_build'
